<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loung.semof.approval.dao.ApprovalMapper">

<!--    <resultMap type="com.loung.semof.approval.model.dto.ApprovLineDTO" id="lineResultMap">-->

<!--    <resultMap type="com.loung.semof.approval.dto.ApprovLineDTO" id="lineResultMap">-->
<!--        <id property="lineNo" column="LINE_NO"/>-->
<!--        <result property="lineName" column="LINE_NAME"/>-->
<!--        <result property="empName" column="EMP_NAME"/>-->
<!--        <result property="empNo" column="EMP_NO"/>-->
<!--        <result property="bName" column="B_NAME"/>-->
<!--        <result property="bCode" column="B_CODE"/>-->
<!--        &lt;!&ndash;        <result property="line" column="LINE"/>&ndash;&gt;-->
<!--        <collection property="approvOrderDTOList" resultMap="orderResultMap"/>-->
<!--    </resultMap>-->


<!--    <resultMap id="orderResultMap" type="com.loung.semof.approval.model.dto.ApprovOrderDTO">-->

<!--    <resultMap id="orderResultMap" type="com.loung.semof.approval.dto.ApprovOrderDTO">-->
<!--        <id property="orderNo" column="ORDER_NO"/>-->
<!--        <result property="lineNo" column="LINE_NO"/>-->
<!--        <result property="jobName" column="JOB_NAME"/>-->

<!--        <association property="approvStatusDTO" javaType="com.loung.semof.approval.model.dto.ApprovStatusDTO">-->

<!--        <association property="approvStatusDTO" javaType="com.loung.semof.approval.dto.ApprovStatusDTO">-->
<!--            <id property="statusCode" column="STATUS_CODE"/>-->
<!--            <result property="statusName" column="STATUS_NAME"/>-->
<!--            <result property="orderNo" column="ORDER_NO"/>-->
<!--            <result property="approvNo" column="APPROV_NO"/>-->
<!--        </association>-->

<!--    </resultMap>-->

<!--    <resultMap type="com.loung.semof.approval.model.dto.ApprovStatusDTO" id="statusResultMap">-->

<!--    <resultMap type="com.loung.semof.approval.dto.ApprovStatusDTO" id="statusResultMap">-->
<!--        <id property="statusCode" column="STATUS_CODE"/>-->
<!--        <result property="statusName" column="STATUS_NAME"/>-->
<!--        <result property="orderNo" column="ORDER_NO"/>-->
<!--        <result property="approvNo" column="APPROV_NO"/>-->
<!--    </resultMap>-->

    <!--    <resultMap type="com.loung.semof.approval.dto.ApprovLineDTO" id="lineResultMap">-->
    <!--        <id property="lineNo" column="LINE_NO"/>-->
    <!--        <result property="lineName" column="LINE_NAME"/>-->
    <!--        <result property="empName" column="EMP_NAME"/>-->
    <!--        <result property="empNo" column="EMP_NO"/>-->
    <!--        <result property="bName" column="B_NAME"/>-->
    <!--        <result property="bCode" column="B_CODE"/>-->
    <!--        &lt;!&ndash;        <result property="line" column="LINE"/>&ndash;&gt;-->

    <!--        <collection property="approvOrderDTOList" resultMap="orderResultMap"/>-->
    <!--    </resultMap>-->

    <!--    <resultMap id="orderResultMap" type="com.loung.semof.approval.dto.ApprovOrderDTO">-->
    <!--        <id property="orderNo" column="ORDER_NO"/>-->
    <!--        <result property="lineNo" column="LINE_NO"/>-->
    <!--        <result property="jobName" column="JOB_NAME"/>-->
    <!--        <association property="approvStatusDTO" javaType="com.loung.semof.approval.dto.ApprovStatusDTO">-->
    <!--            <id property="statusCode" column="STATUS_CODE"/>-->
    <!--            <result property="statusName" column="STATUS_NAME"/>-->
    <!--            <result property="orderNo" column="ORDER_NO"/>-->
    <!--            <result property="approvNo" column="APPROV_NO"/>-->
    <!--        </association>-->

    <!--    </resultMap>-->
    <!--    결재라인-->
    <!--    결재라인 추가-->


    <!--    <resultMap type="com.loung.semof.approval.dto.ApprovLineDTO" id="lineResultMap">-->
    <!--        <id property="lineNo" column="LINE_NO"/>-->
    <!--        <result property="lineName" column="LINE_NAME"/>-->
    <!--        <result property="empName" column="EMP_NAME"/>-->
    <!--        <result property="empNo" column="EMP_NO"/>-->
    <!--        <result property="branchName" column="BRANCH_NAME"/>-->
    <!--        <result property="branchCode" column="BRANCH_CODE"/>-->
    <!--&lt;!&ndash;        <result property="line" column="LINE"/>&ndash;&gt;-->

    <!--        <collection property="approvOrderDTOList" resultMap="orderResultMap"/>-->
    <!--    </resultMap>-->

    <!--    <resultMap id="orderResultMap" type="com.loung.semof.approval.dto.ApprovOrderDTO">-->
    <!--        <id property="orderNo" column="ORDER_NO"/>-->
    <!--        <result property="lineNo" column="LINE_NO"/>-->
    <!--        <result property="jobName" column="JOB_NAME"/>-->
    <!--        <association property="approvStatusDTO" javaType="com.loung.semof.approval.dto.ApprovStatusDTO">-->
    <!--            <id property="statusCode" column="STATUS_CODE"/>-->
    <!--            <result property="statusName" column="STATUS_NAME"/>-->
    <!--            <result property="orderNo" column="ORDER_NO"/>-->
    <!--            <result property="approvNo" column="APPROV_NO"/>-->
    <!--        </association>-->

    <!--    </resultMap>-->
    <!--    <resultMap type="com.loung.semof.approval.dto.ApprovStatusDTO" id="statusResultMap">-->
    <!--        <id property="statusCode" column="STATUS_CODE"/>-->
    <!--        <result property="statusName" column="STATUS_NAME"/>-->
    <!--        <result property="orderNo" column="ORDER_NO"/>-->
    <!--        <result property="approvNo" column="APPROV_NO"/>-->
    <!--    </resultMap>-->


    <!--    결재라인-->
    <!--    결재라인 추가-->

    <insert id = "insertApprovLine" parameterType="ApprovLineDTO">
        INSERT INTO TBL_APPROV_LINE
        (
         LINE_NAME
         , BRANCH_CODE
         , LINE
        , EMP_NO
        )
        VALUES
            (
             #{ lineName }
            , #{ branchCode }
            , #{line}
            , #{empNo}
            )
    </insert>
    <!--    결재라인 순서 등록-->
    <insert id = "insertApprovOrder" parameterType="ApprovOrderDTO">
        INSERT INTO TBL_APPROV_ORDER
        (
         JOB_CODE
        )
        VALUES (
                #{ jobCode }
                )
    </insert>


    <!--결재라인 조회-->

    <select id="selectApprovLineListWithPaging" resultType="ApprovOrderDTO">
        SELECT
            A.*, B.*
        FROM TBL_APPROV_LINE A
                 JOIN TBL_APPROV_ORDER B
                      ON A.LINE_NO = B.LINE_NO
        ORDER BY A.LINE_NO
    </select>
<!--    등록된 결재라인 수 -->
    <select id="selectApprovLineTotal" resultType="int">
        SELECT
            count(*)
        FROM tbl_approv_line
    </select>

    <!--    결재라인수정-->
    <update id="updateApprovLine" parameterType="ApprovLineDTO">
        UPDATE TBL_APPROV_LINE
        SET
            LINE_NANE = #{lineName}
          , BRANCH_CODE = #{branchCode}
          , EMP_NO = #{empNo}
        WHERE LINE_NO=#{lineNo}
    </update>
    <!--    결재순서수정-->
    <update id="updateApprovOrder" parameterType="ApprovOrderDTO">
        UPDATE TBL_APPROV_ORDER
        SET
            JOB_CODE = #{jobCode}
        WHERE LINE_NO = #{lineNo}
          AND ORDER_NO = #{orderNo}
    </update>

    <!--    결재라인 삭제-->
    <delete id="deleteApprovLine" parameterType="ApprovLineDTO">
        DELETE
        FROM TBL_APPROV_LINE
        WHERE LINE_NO=#{lineNo}
    </delete>
    <!--    결재순서 삭제-->
    <delete id="deleteApprovOrder" parameterType="ApprovOrderDTO">
        DELETE
        FROM TBL_APPROV_order
        WHERE LINE_NO=#{lineNo}
    </delete>


    <!--    결재문서-->
    <!--    결재상신-->
    <insert id="insertApproval" parameterType="ApprovalDTO">
        INSERT INTO TBL_APPROVAL
        (
         APPROV_TITLE
         , LINE_NO
        )
        VALUES
            (
           #{ approvTitle }
            ,#{ lineNo }
            )
    </insert>
    <insert id="insertApprovFile" parameterType="ApprovFileDTO">
        INSERT INTO TBL_APPROVAL_file
        (
         ORIGIN_NAME
         , NEW_NAME
         , FILE_PATH
         , APPROV_NO
        )
        VALUES
            (
            #{ originName }
            ,#{ newName }
            ,#{ filePath }
            ,#{ approvNo }
            )
    </insert>
    <!--    결재상신-->

    <insert id="insertApprovContent" parameterType="ApprovContentDTO">
        INSERT INTO TBL_APPROV_CONTENT
        (
            APPROV_CONTENT
        )
        VALUES
            (
            #{approvContent}
            )
    </insert>

    <!--    결재상신함-->
    <select id="selectApprovalListWithPaging" resultType="ApprovalDTO">
        SELECT P.APP_CATEGORY
             , P.APPROV_TITLE
             , LAST_VALUE(P.STATUS_NAME) OVER (
        RANGE BETWEEN
            	UNBOUNDED PRECEDING AND
            	UNBOUNDED FOLLOWING
	) STATUS
             , P.APPROV_DATE
        FROM (SELECT D.APP_CATEGORY
                   , A.APPROV_TITLE
                   , C.STATUS_NAME
                   , A.APPROV_DATE
                    ,E.ORDER_NO

              FROM tbl_APPROVAL A
                       JOIN tbl_approv_content B
                            ON (A.APPROV_NO = B.APPROV_NO)
                       JOIN tbl_APPROV_STATUS C
                            ON (A.APPROV_NO = C.APPROV_NO)
                        JOIN tbl_approv_category D
                            ON (B.FORM_CODE = D.FORM_CODE)
                        JOIN tbl_approv_order E
                            ON (E.ORDER_NO = C.ORDER_NO)
              ) P
            LIMIT ${ startRow }
           , #{ endRow }
    </select>
    <select id="selectApprovalTotal" resultType="int">
        SELECT
            count(*)
        FROM tbl_approval
    </select>
    <!--    상신은 empNo로 수신은 수신도? 보여지는게 다르니까 나누자-->
    <!--    결재상세조회 -->
    <select id="selectApproval" resultType="ApprovalDTO">
        SELECT
            A.*, B.*, C.*, D.*
        FROM TBL_APPROVal A
                 JOIN TBL_APPROV_CONTENT B
                      ON A.APPROV_NO = B.APPROV_NO
                 JOIN TBL_APPROV_FILE C
                      ON A.APPROV_NO = C.APPROV_NO
                 JOIN TBL_APPROV_CATEGORY D
                      ON B.FORM_CODE = D.FORM_CODE
        WHERE A.APPROV_NO = #{approvNo}
    </select>

    <!--  결재수정  -->
    <update id="updateApproval" parameterType="ApprovalDTO">
<![CDATA[
        UPDATE TBL_APPROVal A
            JOIN tbl_approv_status B
        ON A.APPROV_NO = B.APPROV_NO
            SET
                APPROV_TITLE = #{approvTitle}
                    , APPROV_DATE = #{approvDate}
        WHERE APPROV_NO=#{approvNo}
        AND NOT EXISTS (
        SELECT 1
        FROM tbl_approv_status C
        WHERE A.APPROV_NO = C.APPROV_NO
        AND C.STATUS_CODE <> 'C'
        );
]]>
    </update>
    <update id="updateApprovFile" parameterType="ApprovFileDTO">
        UPDATE TBL_APPROV_file
        SET
            ORIGIN_NAME = #{originName}
          , NEW_NAME = #{newName}
          , FILE_PATH = #{filePath}
        WHERE APPROV_NO = #{approvNo}
          AND FILE_NO = #{fileNo}
    </update>
    <update id="updateContent" parameterType="ApprovContentDTO">
        UPDATE TBL_APPROV_content
        SET
            CONTENT = #{content}
        WHERE CONTENT_NO = #{contentNo}
          AND APPROV_NO = #{approvNo}
          AND FORM_CODE = #{formCode}
    </update>
    <!--    where절에 걸것 반려, 혹은 미확인상태-->

    <!--    결재삭제-->
    <delete id="deleteApproval" parameterType="_int">
        <![CDATA[
        DELETE A
        FROM TBL_APPROVal A
        JOIN tbl_approv_status B
        ON A.APPROV_NO = B.APPROV_NO
        WHERE A.APPROV_NO = #{approvNo}
        AND NOT EXISTS (
        SELECT 1
        FROM tbl_approv_status C
        WHERE A.APPROV_NO = C.APPROV_NO
        AND C.STATUS_CODE <> 'C'
        );
        ]]>
    </delete>
    <!--    where절에 미확인-->
    <delete id="deleteFile" parameterType="_int">
        DELETE
        FROM TBL_APPROV_file
        WHERE APPROV_NO=#{approvNo}
    </delete>
    <delete id="deleteContent" parameterType="_int">
        DELETE
        FROM TBL_APPROV_content
        WHERE APPROV_NO=#{approvNo}
    </delete>

    <!--    완료된 결재-->
    <!--    상태 올 승인-->

    <!--    결재처리-->
    <update id="updateStatus" parameterType="ApprovStatusDTO">
        UPDATE TBL_APPROV_STATUS
        SET
            STATUS_CODE = #{statusCode}
          , STATUS_NAME = #{statusName}
        WHERE ORDER_NO = #{orderNo}
          AND APPROV_NO = #{approvNo}
    </update>
    <!--    결재의견작성-->
    <insert id="insertOpinion" parameterType="ApprovOpinDTO">
        INSERT INTO TBL_APPROV_opinion
        (
          OPIN_CONTENT
          , EMP_NO
          , APPROV_NO
        )
        VALUES
            (
           #{opinContent}
           ,#{empNo}
           ,#{approvNo}
            )
    </insert>
    <!--    댓글처럼-->
</mapper>