<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loung.semof.email.dao.EmailMapper">

    <sql id="sendEmailColumns">
           EMAIL_FILE_NO
            , MAIL_NO
            , EMP_NO
            , RECEIVER_ADDR
            , SENDER_NAME
            , SENDER_ADDR
            , TITLE, CONTENT
            , SEND_DATE
            , TEMP_STATUS
            , STATUS
    </sql>

    <sql id="receiveEmailColumns">
        RECEIVE_NO
		, RECEIVER_ADDR
        , SENDER_NAME
        , TITLE
        , CONTENT
        , SEND_DATE
        , STATUS
    </sql>

    <select id="getEmployee" parameterType="java.lang.Long" resultType="EmployeeDto">
        SELECT emp_no AS empNo, emp_name AS empName, email
        FROM tbl_employee
        WHERE emp_no = #{empNo}
    </select>

    <insert id="insertSendEmail" parameterType="SendEmailDto">
        INSERT INTO tbl_send_email
        <include refid="receiveEmailColumns" />
        VALUES (#{mailNo}, #{empNo}, #{receiverAddr}, #{senderName}, #{senderAddr}, #{title}, #{content}, default, default, default)
    </insert>

    <select id="selectByTempStatus" resultType="SendEmailDto">
        SELECT
        *
        FROM tbl_send_email
        WHERE TEMP_STATUS = #{tempStatus}
    </select>

    <insert id="insertEmailAttach">
        INSERT INTO tbl_email_attach (EMAIL_FILE_NO, ORIGIN_NAME, CHANGE_NAME, FILE_PATH, UPLOAD_DATE)
        VALUES (#{emailFileNo}, #{originName}, #{changeName}, #{filePath}, #{uploadDate})
    </insert>

    <insert id="insertEmail" parameterType="ReceiveEmailDto">
        INSERT INTO tbl_receive_email
        VALUES
            (#{receiveNo}, #{receiverAddr}, #{senderName}, #{title}, #{content}, #{sendDate}, default)
    </insert>

    <select id="selectEmailList" resultType="ReceiveEmailDto">
        SELECT
        *
        FROM tbl_receive_email
        WHERE STATUS = 'N'
    </select>

    <select id="selectEmailByTitleAndSenderName" resultType="ReceiveEmailDto">
        SELECT
        *
        FROM tbl_receive_email
        WHERE TITLE = #{title}
        AND SENDER_NAME = #{senderName}
    </select>


</mapper>
