<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loung.semof.common.dao.EmployeeMapper">

    <sql id="employeeColumns">
        EMP_NO
		, EMP_NAME
		, EMP_REG
		, EMAIL
		, PHONE
		, ADDRESS
		, SALARY
        , ENROLL_DATE
        , RETIRE_DATE
        , WORK_STATUS
        , GENDER
        , JOB_CODE
        , DEPT_CODE
        , BRANCH_CODE
    </sql>

    <select id="selectEmployeeByEmpNo" parameterType="java.lang.Long" resultType="EmployeeDto">
        select
        <include refid="employeeColumns"/>
        from tbl_employee
        where EMP_NO = #{empNo}
    </select>

    <insert id="insertEmployee" parameterType="EmployeeDto">
        insert into tbl_employee
        values
            (#{empNo}, #{empName}, #{empReg},
             #{email}, #{phone}, #{address}, #{salary},
             DEFAULT, DEFAULT, DEFAULT, #{gender},
             #{jobCode}, #{deptCode}, #{branchCode})
    </insert>

</mapper>
