<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loung.semof.common.dao.EmployeeMapper">

    <sql id="employeeColumns">
        EMP_NO
		, EMP_NAME
		, EMP_REG
		, EMAIL
		, PHONE
		, ADDRESS
		, SALARY
        , ENROLL_DATE
        , RETIRE_DATE
        , WORK_STATUS
        , GENDER
        , JOB_CODE
        , DEPT_CODE
        , BRANCH_CODE
    </sql>

    <!-- SELECT 쿼리: 사원번호(empNo)로 EmployeeDto 조회 -->
    <select id="selectEmployeeByEmpNo" parameterType="java.lang.Long" resultType="EmployeeDto">
        SELECT
        <include refid="employeeColumns"/>
        FROM tbl_employee
        WHERE EMP_NO = #{empNo}
    </select>

    <!-- INSERT 쿼리: EmployeeDto 데이터 등록 -->
    <insert id="insertEmployee" parameterType="EmployeeDto">
        INSERT INTO tbl_employee
        VALUES
            (#{empNo}, #{empName}, #{empReg},
             #{email}, #{phone}, #{address}, #{salary},
             DEFAULT, DEFAULT, DEFAULT, #{gender},
             #{jobCode}, #{deptCode}, #{branchCode})
    </insert>

    <!-- UPDATE 쿼리: EmployeeDto 업데이트 -->
    <update id="updateEmployee" parameterType="EmployeeDto">
        UPDATE tbl_employee
        SET
             EMAIL = #{email},
             PHONE = #{phone},
             ADDRESS = #{address},
             SALARY = #{salary},
             JOB_CODE = #{jobCode}
        WHERE EMP_NO = #{empNo}
    </update>

    <!-- UPDATE 쿼리: EmployeeDto 업데이트 -->
    <update id="updateEmployeeStatus" parameterType="EmployeeDto">
        UPDATE tbl_employee
        SET
            WORK_STATUS = 'N'
        WHERE EMP_NO = #{empNo}
    </update>

</mapper>
