<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loung.semof.report.dao.MeetingMapper">

    <select id="selectAllMeetingReportForAdmin" resultType="MeetingDto">
        SELECT
            ROW_NUMBER() OVER(ORDER BY TM.REPORT_WRITE_DATE) AS ROW_NUM
            ,TM.MEETING_REPORT_CODE
            ,TM.REPORT_WRITE_DATE
            ,TM.EMP_NO
            ,TE.EMP_NAME
            ,TM.MEETING_DATE
            ,TM.LOCATION
            ,TM.PARTICIPANTS
            ,TM.MEETING_REPORT_TITLE
            ,TM.MEETING_REPORT_CONTENT
            ,TM.CONCLUSION
            ,TM.NEXT_MEETING_PLAN
            ,TR.REPORT_CATEGORY_CODE
            ,TM.REPORT_STATUS
            ,TM.REPORT_COMMENT
        FROM tbl_meeting_report TM
         JOIN tbl_report_category TR
              ON TM.REPORT_CATEGORY_CODE = TR.REPORT_CATEGORY_CODE
         JOIN tbl_employee TE
              ON TM.EMP_NO = TE.EMP_NO
        WHERE TM.REPORT_STATUS = 'N' OR TM.REPORT_STATUS = 'Y'
        ORDER BY
            CASE TM.REPORT_STATUS
                WHEN 'N' THEN 0
                WHEN 'Y' THEN 1
                ELSE 2
                END,
            ROW_NUM DESC;
    </select>

    <select id="selectAllMeetingReportForEmp" resultType="MeetingDto">
        SELECT
            ROW_NUMBER() OVER(ORDER BY TM.REPORT_WRITE_DATE) AS ROW_NUM
            ,TM.MEETING_REPORT_CODE
             ,TM.REPORT_WRITE_DATE
             ,TM.EMP_NO
             ,TE.EMP_NAME
             ,TM.MEETING_DATE
             ,TM.LOCATION
             ,TM.PARTICIPANTS
             ,TM.MEETING_REPORT_TITLE
             ,TM.MEETING_REPORT_CONTENT
             ,TM.CONCLUSION
             ,TM.NEXT_MEETING_PLAN
             ,TR.REPORT_CATEGORY_CODE
             ,TM.REPORT_STATUS
             ,TM.REPORT_COMMENT
        FROM tbl_meeting_report TM
                 JOIN tbl_report_category TR
                      ON TM.REPORT_CATEGORY_CODE = TR.REPORT_CATEGORY_CODE
                 JOIN tbl_employee TE
                      ON TM.EMP_NO = TE.EMP_NO
        WHERE TM.REPORT_STATUS = 'N' OR TM.REPORT_STATUS = 'Y'
          AND TM.EMP_NO = #{empNo}
        ORDER BY
            CASE TM.REPORT_STATUS
                WHEN 'N' THEN 0
                WHEN 'Y' THEN 1
                ELSE 2
                END,
            ROW_NUM DESC;
    </select>

    <select id="selectAllMeetingReportForAdminWithPaging" resultType="MeetingDto">
        SELECT
            P.ROW_NUM
            ,P.MEETING_REPORT_CODE
            ,P.REPORT_WRITE_DATE
            ,P.EMP_NO
            ,P.EMP_NAME
            ,P.MEETING_DATE
            ,P.LOCATION
            ,P.PARTICIPANTS
            ,P.MEETING_REPORT_TITLE
            ,P.MEETING_REPORT_CONTENT
            ,P.CONCLUSION
            ,P.NEXT_MEETING_PLAN
            ,P.REPORT_CATEGORY_NAME
            ,P.REPORT_STATUS
            ,P.REPORT_COMMENT
        FROM
            (
            SELECT
            ROW_NUMBER() OVER(ORDER BY TM.REPORT_WRITE_DATE DESC) AS ROW_NUM
            ,TM.MEETING_REPORT_CODE
             ,TM.REPORT_WRITE_DATE
             ,TM.EMP_NO
             ,TE.EMP_NAME
             ,TM.MEETING_DATE
             ,TM.LOCATION
             ,TM.PARTICIPANTS
             ,TM.MEETING_REPORT_TITLE
             ,TM.MEETING_REPORT_CONTENT
             ,TM.CONCLUSION
             ,TM.NEXT_MEETING_PLAN
             ,TR.REPORT_CATEGORY_NAME
             ,TM.REPORT_STATUS
             ,TM.REPORT_COMMENT
        FROM tbl_meeting_report TM
                 JOIN tbl_report_category TR
                      ON TM.REPORT_CATEGORY_CODE = TR.REPORT_CATEGORY_CODE
                 JOIN tbl_employee TE
                      ON TM.EMP_NO = TE.EMP_NO
        WHERE TM.REPORT_STATUS = 'N' OR TM.REPORT_STATUS = 'Y'
        ORDER BY
            CASE TM.REPORT_STATUS
                WHEN 'N' THEN 0
                WHEN 'Y' THEN 1
                ELSE 2
                END,
            ROW_NUM DESC) P
        ORDER BY P.ROW_NUM DESC
        LIMIT ${startRow}, #{endRow}
    </select>

    <select id="selectAllMeetingReportForEmpWithPaging" resultType="MeetingDto">
        SELECT
            P.ROW_NUM
             ,P.MEETING_REPORT_CODE
             ,P.REPORT_WRITE_DATE
             ,P.EMP_NO
             ,P.EMP_NAME
             ,P.MEETING_DATE
             ,P.LOCATION
             ,P.PARTICIPANTS
             ,P.MEETING_REPORT_TITLE
             ,P.MEETING_REPORT_CONTENT
             ,P.CONCLUSION
             ,P.NEXT_MEETING_PLAN
             ,P.REPORT_CATEGORY_NAME
             ,P.REPORT_STATUS
             ,P.REPORT_COMMENT
        FROM
            (
                SELECT
                    ROW_NUMBER() OVER(ORDER BY TM.REPORT_WRITE_DATE DESC) AS ROW_NUM
            ,TM.MEETING_REPORT_CODE
                     ,TM.REPORT_WRITE_DATE
                     ,TM.EMP_NO
                     ,TE.EMP_NAME
                     ,TM.MEETING_DATE
                     ,TM.LOCATION
                     ,TM.PARTICIPANTS
                     ,TM.MEETING_REPORT_TITLE
                     ,TM.MEETING_REPORT_CONTENT
                     ,TM.CONCLUSION
                     ,TM.NEXT_MEETING_PLAN
                     ,TR.REPORT_CATEGORY_NAME
                     ,TM.REPORT_STATUS
                     ,TM.REPORT_COMMENT
                FROM tbl_meeting_report TM
                         JOIN tbl_report_category TR
                              ON TM.REPORT_CATEGORY_CODE = TR.REPORT_CATEGORY_CODE
                         JOIN tbl_employee TE
                              ON TM.EMP_NO = TE.EMP_NO
                WHERE TM.REPORT_STATUS = 'N' OR TM.REPORT_STATUS = 'Y'
                  AND TM.EMP_NO = #{empNo}
                ORDER BY
                    CASE TM.REPORT_STATUS
                        WHEN 'N' THEN 0
                        WHEN 'Y' THEN 1
                        ELSE 2
                        END,
                    ROW_NUM DESC) P
        ORDER BY P.ROW_NUM DESC
            LIMIT ${selectCriteria.startRow}, #{selectCriteria.endRow}
    </select>

    <select id="selectDetailMeetingForAdmin" resultType="MeetingDto">
        SELECT
            TM.MEETING_REPORT_CODE
             ,TM.REPORT_WRITE_DATE
             ,TM.EMP_NO
             ,TE.EMP_NAME
             ,TM.MEETING_DATE
             ,TM.LOCATION
             ,TM.PARTICIPANTS
             ,TM.MEETING_REPORT_TITLE
             ,TM.MEETING_REPORT_CONTENT
             ,TM.CONCLUSION
             ,TM.NEXT_MEETING_PLAN
             ,TR.REPORT_CATEGORY_NAME
             ,TM.REPORT_STATUS
             ,TM.REPORT_COMMENT
        FROM tbl_meeting_report TM
                 JOIN tbl_report_category TR
                      ON TM.REPORT_CATEGORY_CODE = TR.REPORT_CATEGORY_CODE
                 JOIN tbl_employee TE
                      ON TM.EMP_NO = TE.EMP_NO
        WHERE TM.MEETING_REPORT_CODE = #{meetingReportCode}
    </select>

    <select id="selectDetailMeetingForEmp" resultType="MeetingDto">
        SELECT
            TM.MEETING_REPORT_CODE
             ,TM.REPORT_WRITE_DATE
             ,TM.EMP_NO
             ,TE.EMP_NAME
             ,TM.MEETING_DATE
             ,TM.LOCATION
             ,TM.PARTICIPANTS
             ,TM.MEETING_REPORT_TITLE
             ,TM.MEETING_REPORT_CONTENT
             ,TM.CONCLUSION
             ,TM.NEXT_MEETING_PLAN
             ,TR.REPORT_CATEGORY_NAME
             ,TM.REPORT_STATUS
             ,TM.REPORT_COMMENT
        FROM tbl_meeting_report TM
                 JOIN tbl_report_category TR
                      ON TM.REPORT_CATEGORY_CODE = TR.REPORT_CATEGORY_CODE
                 JOIN tbl_employee TE
                      ON TM.EMP_NO = TE.EMP_NO
        WHERE TM.MEETING_REPORT_CODE = #{meetingReportCode}
    </select>

    <select id="selectMeetingReportTotalForAdmin" resultType="int">
        SELECT
            COUNT(*)
        FROM tbl_meeting_report TM
                 JOIN tbl_employee te on te.EMP_NO = TM.EMP_NO
                 JOIN tbl_report_category trc on trc.REPORT_CATEGORY_CODE = TM.REPORT_CATEGORY_CODE
    </select>

    <select id="selectMeetingReportTotalForEmp" resultType="int">
        SELECT
            COUNT(*)
        FROM tbl_meeting_report TM
                 JOIN tbl_employee TE on TE.EMP_NO = TM.EMP_NO
                 JOIN tbl_report_category trc on trc.REPORT_CATEGORY_CODE = TM.REPORT_CATEGORY_CODE
        WHERE TM.EMP_NO = #{empNo}
    </select>

    <insert id="insertMeetingReport" parameterType="meetingDto">
        INSERT INTO tbl_meeting_report
            (
            EMP_NO
            ,MEETING_DATE
            ,LOCATION
            ,PARTICIPANTS
            ,MEETING_REPORT_TITLE
            ,MEETING_REPORT_CONTENT
            ,CONCLUSION
            ,NEXT_MEETING_PLAN
            ,REPORT_CATEGORY_CODE
        )
        VALUES
            (
            (SELECT EMP_NO FROM tbl_employee WHERE tbl_employee.EMP_NO = #{empNo})
            ,#{meetingDate}
            ,#{location}
            ,#{participants}
            ,#{meetingReportTitle}
            ,#{meetingReportContent}
            ,#{conclusion}
            ,#{nextMeetingPlan}
            ,(SELECT REPORT_CATEGORY_CODE FROM tbl_report_category WHERE tbl_report_category.REPORT_CATEGORY_CODE = 4)
            )
    </insert>

    <update id="updateMeetingReportForAdmin" parameterType="meetingDto">
        UPDATE tbl_meeting_report
        SET
            REPORT_COMMENT = #{reportComment}
          ,REPORT_STATUS = 'Y'
        WHERE MEETING_REPORT_CODE = #{meetingReportCode}
    </update>

    <update id="updateMeetingReportForEmp" parameterType="meetingDto">
        UPDATE tbl_meeting_report
        SET
            MEETING_REPORT_TITLE = #{meetingReportTitle}
            ,MEETING_REPORT_CONTENT = #{meetingReportContent}
            ,CONCLUSION = #{conclusion}
            ,NEXT_MEETING_PLAN = #{nextMeetingPlan}
        WHERE MEETING_REPORT_CODE = #{meetingReportCode}
    </update>

    <delete id="deleteMeetingReportForAdmin" parameterType="meetingDto">
        DELETE FROM tbl_meeting_report
        WHERE MEETING_REPORT_CODE = #{meetingReportCode}
    </delete>

    <delete id="deleteMeetingReportForEmp" parameterType="meetingDto">
        DELETE  FROM tbl_meeting_report
        WHERE MEETING_REPORT_CODE = #{meetingReportCode}
    </delete>
</mapper>