<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loung.semof.reply.dao.ReplyMapper">

    <select id="selectReply" resultType="ReplyDto">
        SELECT
            TR.REPLY_CODE
           ,TR.REPLY_CONTENT
           ,TR.BOARD_NO
           ,TE.EMP_NAME
        FROM tbl_reply TR
        JOIN tbl_board TB
        ON (TR.BOARD_NO = TB.BOARD_NO)
        JOIN tbl_employee TE
        ON (TR.EMP_NO = TE.EMP_NO)
        WHERE TR.BOARD_NO = #{boardNo}
        ORDER BY TR.REPLY_WRITE_DATE DESC
    </select>

    <select id="selectReplyTotal" resultType="int">
        SELECT
            count(*)
        FROM tbl_reply
        WHERE BOARD_NO =${boardNo}
    </select>

    <select id="selectReplyWithPaging" resultType="ReplyDto">
        SELECT
            R.BOARD_NO
           ,R.EMP_NAME
           ,R.REPLY_CODE
           ,R.REPLY_CONTENT
           ,R.REPLY_WRITE_DATE
        FROM
        (SELECT
              TR.REPLY_CODE
             ,TR.REPLY_CONTENT
             ,TR.EMP_NO
             ,TR.BOARD_NO
             ,TE.EMP_NAME
             ,TR.REPLY_WRITE_DATE
        FROM tbl_reply TR
                 JOIN tbl_board TB
                      ON (TR.BOARD_NO = TB.BOARD_NO)
                 JOIN tbl_employee TE
                      ON (TR.EMP_NO = TE.EMP_NO)
        WHERE TR.BOARD_NO = #{boardNo}
        ORDER BY TR.REPLY_WRITE_DATE DESC) R
        ORDER BY R.REPLY_WRITE_DATE DESC
        LIMIT ${startRow -1}, #{endRow}
    </select>

    <insert id="insertReply" parameterType="ReplyDto">
        INSERT INTO tbl_reply
            (REPLY_CONTENT
            , BOARD_NO
            , EMP_NO)
        VALUES
            (
             #{replyContent}
             ,#{boardNo}
             ,#{empNo}
            )
    </insert>

    <update id="updateReply" parameterType="ReplyDto">
        UPDATE tbl_reply
        SET
            REPLY_CONTENT = #{replyContent}
        WHERE BOARD_NO = #{boardNo}
          AND EMP_NO = #{empNo}
          AND REPLY_CODE = #{replyCode}
    </update>

    <delete id="deleteForAdmin" parameterType="boardDto">
        DELETE FROM tbl_reply
        WHERE BOARD_NO = #{boardNo}
    </delete>

    <delete id="deleteForEmp" parameterType="boardDto">
        DELETE FROM tbl_reply
        WHERE BOARD_NO = #{boardNo}
          AND EMP_NO = #{empNo}
    </delete>

</mapper>